body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4d0d0;
    color: #450099;
    font-size: 30px;
}

h1 {
    color: #062648;
    font-size: 50px;
}
